<div>
  <div class="form-div">
    <h1 class="title">Data about yourself</h1>
    <form id="mainForm">
      <label for="username">Enter your name</label>
      <input type="text" placeholder="Username" name="username" />
      <label for="password">Enter your password</label>
      <input type="password" placeholder="Password" name="password" />
    </form>
  </div>
</div>